* {
    margin: 0%;
}

header {
    background: linear-gradient(90deg, rgba(200,14,118,1) 0%, rgba(205,54,13,1) 9%, rgba(179,215,10,1) 27%, rgba(42,154,175,0.7203475140056023) 47%, rgba(90,114,154,1) 69%, rgba(208,176,176,1) 100%, rgba(255,0,125,1) 100%);
    height: 100px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(20, 8, 82);
    border-bottom-width: 10px;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.search-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    height: 20%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px; 
    border-bottom-style: solid;
    border-color: black;  
}

.search-box label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#city {
    height: 24px;
    margin-bottom: 8px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(210, 210, 210);
    font-size: 18px;   
}

.button {
    height: 26px;
    background-color: rgb(75, 75, 232);
    border-style: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;  
}

.button:hover {
    background-color: rgb(52, 52, 154);
}

